<!-- h3 for projects titles -->
<main>
    <section id="about" class="about" style="margin-top: 3.2%;">
        <div class="container">
            <div class="section-title">
                <h2 class="title">Projects</h2>
                <hr style=" width: 100px; margin-left: 0;border:1px solid #149ddd">
                <p>Take a look at some cool projects I've worked on.</p>
            </div>
            <div class="row">

                <div class="col-md-6" style="margin-bottom:1%">
                    <div class="section-title">
                        <h3>Magma Architects - Website Design Prototype</h3>
                        <p>Adobe XD, Adobe Photoshop</p>
                        <img src="../assets/images/magma architects.png" class="img-fluid" alt="Responsive image" style="border: 2px solid #8e8f8f; border-radius: 5px; padding: 5px;">
                        <br></br>
                    </div>
                    
                </div>


                <div class="col-md-6">
                    <div class="section-title">
                        <h3>Workout Graph, Fitness Tracker - Web Application</h3>
                        <p>Technologies: Node.js, Express.js, Firebase Auth, Firebase Firestore, EJS Templating, Bootstrap, HTML, JavaScript, CSS</p>
                    
                        <img src="../assets/images/fitness tracker.png" class="img-fluid" alt="Responsive image" style="border: 2px solid #8e8f8f; border-radius: 5px; padding: 5px;">
                    </div>
                    
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="section-title">
                        <h3>Proposal Legislative Assembly Feedback - Web Application</h3>
                        <p>Technologies: Bootstrap, HTML, JavaScript, CSS</p>
                        <img src="../assets/images/legislative assembly mock.png" class="img-fluid" alt="Responsive image" style="border: 2px solid #8e8f8f; border-radius: 5px; padding: 5px;">
                        <br></br>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <div class="section-title">
                        <h3>Adobe Illustrator Banner - Vector Graphics Design</h3>
                        <p>Adobe Illustrator</p>
                        <img src="../assets/images/illustrator banner.png" class="img-fluid" alt="Responsive image" style="border: 2px solid #8e8f8f; border-radius: 5px; padding: 5px;">
                    </div>
                    
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="section-title">
                        <h3>Schorching Deals - Mobile Application Design Prototype</h3>
                        <p>Adobe XD, Adobe Illustrator</p>
                        <img src="../assets/images/schorching deals mobile.png" class="img-fluid" alt="Responsive image" style="border: 2px solid #8e8f8f; border-radius: 5px; padding: 5px;">
                        <br></br>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <div class="section-title">
                        <h3>Magma Architects - Mobile Website Design Prototype</h3>
                        <p>Adobe XD, Adobe Illustrator</p>
                        <img src="../assets/images/magma architects mobile.png" class="img-fluid" alt="Responsive image" style="border: 2px solid #8e8f8f; border-radius: 5px; padding: 5px;">
                    </div>
                    
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="section-title">
                        <h3>UI Kit - Mobile Design</h3>
                        <p>Adobe Illustrator, Adobe XD</p>
                        <img src="../assets/images/ui kit.png" class="img-fluid" alt="Responsive image" style="border: 2px solid #8e8f8f; border-radius: 5px; padding: 5px;">
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <div class="section-title" style="margin-bottom : 3.2%">
                        <h3>Simple Map - Web Application</h3>
                        <p>Technologies: Bootstrap, HTML, JavaScript, CSS</p>
                        <img src="../assets/images/simple map.png" class="img-fluid" alt="Responsive image" style="border: 2px solid #8e8f8f; border-radius: 5px; padding: 5px;">
                    </div>
                    
                </div>

            </div>
        </div>
         
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
        
    </section>
    <style>
        .about .content h3 {
            font-weight: 700;
            font-size: 26px;
            color: #9210ac;
        }

        .about .content ul {
            list-style: none;
            padding: 0;
        }

        .about .content ul li {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        .about .content ul strong {
            margin-right: 10px;
        }

        .about .content ul i {
            font-size: 16px;
            margin-right: 5px;
            color: #149ddd;
            line-height: 0;
        }

        .about .content p:last-child {
            margin-bottom: 0;
        }

        .about .section-title .title {
            color: #9210ac;
            font-weight: bold;
        }

        .facts {
            padding-bottom: 30px;
        }

        .facts .count-box {
            padding: 30px;
            width: 100%;
        }

        .facts .count-box i {
            display: block;
            font-size: 44px;
            color: #149ddd;
            float: left;
            line-height: 0;
        }

        .facts .count-box span {
            font-size: 48px;
            line-height: 40px;
            display: block;
            font-weight: 700;
            color: #050d18;
            margin-left: 60px;
        }

        .facts .count-box p {
            padding: 15px 0 0 0;
            margin: 0 0 0 60px;
            font-family: "Raleway", sans-serif;
            font-size: 14px;
            color: #122f57;
        }

        .facts .count-box a {
            font-weight: 600;
            display: block;
            margin-top: 20px;
            color: #122f57;
            font-size: 15px;
            font-family: "Poppins", sans-serif;
            transition: ease-in-out 0.3s;
        }

        .facts .count-box a:hover {
            color: #1f5297;
        }
    </style>
</main>